*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
.headerTop{
  min-width:90vw;
  height:50px;
  background-color: #00E5FF;
}
.homeLink{
  color:white;
  text-indent: 20px;
  font-size: 18px;
  line-height: 50px;
  float:left;
  text-decoration: none;
}
.homeLink:hover{
  color:red;
}
.headerTop button{
  width: 80px;
  line-height: 30px;
  float: right;
  margin-right: 60px;
  margin-top: 10px;
  background-color: #18FFFF;
  border:none;
  color:#EF5350;
  border-radius:6px;
}
.headerTop button:hover{
  cursor:pointer;
  color:white;
  background-color: #00838F;
}
.goodsBox{
  margin-left: 5vw;
  margin-top: 3vh;
}
.goodsBox h3{
  color:teal;
  line-height: 40px;
}
.goodsBox h4{
  font-size: 20px;
  line-height: 1.2em;
  color:#26A69A;
}
.fenLei{
  float:left;
}
